distro==1.9.0
pytest==7.0.1;python_version<="3.6"
pytest==8.4.2;python_version>="3.7"
pytest-logger==1.0.0;python_version<="3.6"
pytest-logger==1.1.1;python_version>="3.7"
pytest-testinfra==6.8.0;python_version<="3.6"
pytest-testinfra==10.2.2;python_version>="3.7"
