name: Run lint and static analyis checks
on:
  pull_request:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: plus3it/actions-workflows/.github/workflows/lint.yml@0054f1b21931641f08f755c8115375b8099f7f6b
    with:
      tardigradelint-target: install/pip_requirements/tests/requirements.txt lint
