name: Create GitHub Release

on:
  # Run on demand
  workflow_dispatch:

  # Run on push to main when .bumpversion.cfg version is updated
  push:
    branches:
      - main
      - master
    paths:
      - .bumpversion.cfg

jobs:
  release:
    uses: plus3it/actions-workflows/.github/workflows/release.yml@3b8e48de2da8233d170c1d094932a562d9a36990
    secrets:
      release-token: ${{ secrets.GH_RELEASES_TOKEN }}
    with:
      mockstacktest-enable: false
      tardigradelint-target: install/pip_requirements/tests/requirements.txt lint
