name: Create GitHub Release

on:
  # Run on demand
  workflow_dispatch:

  # Run on push to main when .bumpversion.cfg version is updated
  push:
    branches:
      - main
      - master
    paths:
      - .bumpversion.cfg

jobs:
  release:
    uses: plus3it/actions-workflows/.github/workflows/release.yml@269d875599c92395f7fa99cab43edc1820798e61
    secrets:
      release-token: ${{ secrets.GH_RELEASES_TOKEN }}
    with:
      mockstacktest-enable: false
      tardigradelint-target: install/pip_requirements/tests/requirements.txt lint
